{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="p-4 m-4">
          <div class="col-lg-5 rounded mx-auto border pt-4">
                <div class="text-center col">
                    <div class="display-8">Change Password Here</div>
                    <hr>
                </div>

                {% if success_message %}
                    <div class="alert alert-success">
                        {{ success_message }}
                    </div>
                {% elif error_message %}
                    <div class="alert alert-danger">
                        {{ error_message }}
                    </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <!-- old password -->
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" name="oldpassword" class="form-control form-control-sm">
                    </div>

                    <!-- new password -->
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="newpassword" class="form-control form-control-sm">
                    </div>

		    <!-- confirm password -->
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control form-control-sm">
                    </div>

                    <!-- login button -->
                    <div class="form-group">
                        <input class="btn btn-sm btn-info col-lg-12" type="submit" value="Change">
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}