{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
    <div class="container">
      <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Profile</p>
        <table class="table">
          <td>
              <img src="{{ request.user.profile.image.url }}" style="height: 300px;">
          </td>
          <td>
            <table class="table-condensed">
              <tr>
                <td>First Name: </td>
                <td>{{ request.user.first_name }}</td>
              </tr>
              <tr>
                <td>Last Name: </td>
                <td>{{ request.user.last_name }}</td>
              </tr>
              <tr>
                <td>Email Id: </td>
                <td>{{ request.user.email }}</td>
              </tr>
              <tr>
                <td>Phone Number: </td>
                <td>{{ request.user.profile.phone_number }}</td>
              </tr>
              <tr>
                <td>Address: </td>
                <td>{{ request.user.profile.address }}</td>
              </tr>
              <tr>
                <td></td>
                <td><a class="btn btn-info" href="{% url 'editprofile' %}">Edit</a></td>
              </tr>
            </table>
          </td>
        </table>
      </div>
    </div>
{% endblock %}
